body{
    background-color: antiquewhite;
}
nav{
    display :flex;
    justify-content: center;
    font-size: 90;
    font-style: c;
    align-items: center;
    background-color: #FFDACC;
    margin: 0;
    padding: 0;


}
.about{
    font-family: 'Poppins','Nunito', sans-serif;
    font-size: large;
}
img.about{
    width: 40vh;
    height: 40vh;
}